setuptools
protobuf
#ydata-synthetic
jupyter
scikit-learn
python-binance
websocket-client
statsmodels
pyfolio
backtesting
xgboost
seaborn
lightgbm
ccxt
mplfinance
matplotlib
streamlit
quantstats
pandas==1.5.2
